<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">Home</a>
    <h2>You're looking for car with ID #<%= car.id %></h2>
    <p><b>Name: </b><%= car.car_name %></p>
    <p><b>Type: </b><%= car.car_type %></p>
    <p><b>Year of manufacturing: </b><%= car.year %></p>
    <p><b>Color: </b><%= car.color %></p>
    <p><b>Is car on stock: </b> <%= car.in_stock %></p>
   
  </body>
</html>